.navbar{
    background-color: black;
    margin-bottom: 4rem;
}

.navbar ul{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    padding-left: 5rem;
}

li{
    list-style: none;
    font-size: 1rem;
}

.navbar h1{
    color: bisque;
    font-size: 2rem;
}

.navbar a{
    text-decoration: none;
    color: grey;
}

.navbar a:hover{
    text-decoration: underline;
    color: white;
}